// --------------------------------------------------
// #Colors settings
// --------------------------------------------------
$color-white:#ffffff;
$color-black: #241C15; 
/// 
$color-grey: #e5e5e5; 
$color-grey-dark: #403b3b; // large body text
$color-grey-light: #f6f6f4; 
///
$color-primary:#fddb3a; 
$color-primary-contrast: $color-black;

